<!-- CSS only -->

<body>
  <header>
    <h3>Aplicación Calculadora</h3>
    <div class="logo">
      <img src="../assets/img/logonegro.png" alt="LogoArnez" srcset="" />
    </div>
  </header>

  <div class="container-fluid">
    <div class="contenedorCalcu w-50 my-5 pt-5 offset-3">
      <div class="boton d-flex justify-content-center align-items-center">
        <label for="result" class="label1">Resultado:</label>
        <input
          type="text"
          name=""
          id="result"
          [(ngModel)]="screen"
          class="mx-3"
          readonly
        />
      </div>
      <div class="Cajanumeros p-2">
        <div class="d-flex justify-content-center pt-3">
          <input
            type="button"
            (click)="enterValue('7')"
            class="col-2 mx-1 numeros"
            value="7"
          />
          <input
            type="button"
            (click)="enterValue('8')"
            class="col-2 mx-1 numeros"
            value="8"
          />
          <input
            type="button"
            (click)="enterValue('9')"
            class="col-2 mx-1 numeros"
            value="9"
          />
          <input
            type="button"
            (click)="Del()"
            class="col-2 mx-1 numeros"
            value="DEL"
          />
          <input
            type="button"
            (click)="clear()"
            class="col-2 mx-1 numeros"
            value="AC"
          />
        </div>
        <div class="d-flex justify-content-center pt-3">
          <input
            type="button"
            (click)="enterValue('4')"
            class="col-2 mx-1 numeros"
            value="4"
          />
          <input
            type="button"
            (click)="enterValue('5')"
            class="col-2 mx-1 numeros"
            value="5"
          />
          <input
            type="button"
            (click)="enterValue('6')"
            class="col-2 mx-1 numeros"
            value="6"
          />
          <input
            type="button"
            (click)="condition('*')"
            class="col-2 mx-1 numeros"
            value="x"
          />
          <input
            type="button"
            (click)="condition('/')"
            class="col-2 mx-1 numeros"
            value="/"
          />
        </div>
        <div class="d-flex justify-content-center pt-3">
          <input
            type="button"
            (click)="enterValue('1')"
            class="col-2 mx-1 numeros"
            value="1"
          />
          <input
            type="button"
            (click)="enterValue('2')"
            class="col-2 mx-1 numeros"
            value="2"
          />
          <input
            type="button"
            (click)="enterValue('3')"
            class="col-2 mx-1 numeros"
            value="3"
          />
          <input
            type="button"
            (click)="condition('+')"
            class="col-2 mx-1 numeros"
            value="+"
          />
          <input
            type="button"
            (click)="condition('-')"
            class="col-2 mx-1 numeros"
            value="-"
          />
        </div>
        <div class="d-flex justify-content-center pt-3">
          <input
            type="button"
            (click)="enterValue('0')"
            class="col-5 mx-1 numeros"
            value="0"
          />
          <input
            type="button"
            (click)="result()"
            class="col-5 mx-1 botonasignar"
            value="="
          />
        </div>
      </div>
    </div>
  </div>
</body>
