body{
    background-image: url(../assets/svg/gggrain.svg);
    background-size:cover;
    height: 1034px;
 
}
header{
    background-color: azure;
}

h3{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 4, 56);
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 30px;
}

img{
    width: 130px;
}

.logo{
display: flex;
justify-content: center;
padding-bottom: 5px;
}

.pc{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

p{
    padding-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 800;
}

