body{
    background-image: url(../assets/svg/gggrain.svg);
    background-size:cover;
    height: 1034px;
 
}
header{
    background-color: azure;
}

h3{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 4, 56);
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 30px;
}

img{
    width: 130px;
}

.logo{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.pc{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

p{
    padding-top: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: 800;
}

.contenedorCalcu{
    height: 500px;
    background-color: rgba(17, 17, 17, 0.617);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(67, 0, 0, 0.384);
}

@media (max-width: 680px) {
    .contenedorCalcu {
        min-width: 240px;
        margin-left: 62px;
    }

}


.boton {
    padding-bottom: 50px;
}



#result{
    border-radius: 10px;
    border-color: rgb(137, 27, 27);
    text-align: right;
}

@media (max-width: 680px) {
    .boton {
        display: flex;
        justify-content: center;
        flex-direction:column;
        flex-wrap: nowrap;
    }

}

.label1{
    font-weight: 500;
    color: rgb(226, 226, 226);
}

.numeros{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.333);
    border: none;
    color: aliceblue;
    padding: 4px;
}

@media (max-width: 690px) {
    .numeros {
        padding: 0;
        margin: 1px;
    }

}


@media (max-width: 690px) {
    .Cajanumeros {
        padding: 0;
        
    }

}

.botonasignar{
    border-radius: 5px;
    background-color: rgba(201, 124, 35, 0.629);
    border: none;
    color: rgba(255, 255, 255, 0.649);
    padding: 4px;
}

.numeros:hover{
    background-color: rgba(0, 0, 0, 0.521);
}

.botonasignar:hover {
    background-color: rgba(178, 98, 6, 0.629);
}